* text=-text !eol
*.vcproj text=crlf
*.vcxproj text=crlf
*.sln text=crlf
/ACO.cpp -text
/ACO.h -text
/AligmentAllocator.h -text
/BendersModel.cpp -text
/BendersModel.h -text
/CoinFormulation.cpp -text
/CoinFormulation.h -text
/CplexFormulation.cpp -text
/CplexFormulation.h -text
/CpuTimer.cpp -text
/CpuTimer.h -text
/GurobiFormulation.cpp -text
/GurobiFormulation.h -text
/LagrangianModel.cpp -text
/LagrangianModel.h -text
/Makefile -text
/PSO.cpp -text
/PSO.h -text
/QOL.mk -text
/QolColFormulation.h -text
/QolCommData.cpp -text
/QolCommData.h -text
/QolData.h -text
/QolHeuristic.h -text
/QolLog.h -text
/QolMIP.cpp -text
/QolMIP.h -text
/QolMIPInstance.h -text
/QolMIPSolver.cpp -text
/QolMIPSolver.h -text
/QolModel.h -text
/QolOptimiser.cpp -text
/QolOptimiser.h -text
/QolParams.h -text
/QolRandom.h -text
/QolSolutionBase.h -text
/QolSolutionFull.h -text
/QolSolutionPrimal.h -text
/QolUtil.h -text
/VolumeModel.cpp -text
/VolumeModel.h -text
examples/LimitedResourceSched/data/10testS13.txt -text
examples/LimitedResourceSched/data/10testS13.xml -text
examples/LimitedResourceSched/data/11testS21.txt -text
examples/LimitedResourceSched/data/11testS21.xml -text
examples/LimitedResourceSched/data/11testS56.txt -text
examples/LimitedResourceSched/data/11testS56.xml -text
examples/LimitedResourceSched/data/11testS63.txt -text
examples/LimitedResourceSched/data/12testS36.txt -text
examples/LimitedResourceSched/data/15testS2.txt -text
examples/LimitedResourceSched/data/15testS3.txt -text
examples/LimitedResourceSched/data/15testS5.txt -text
examples/LimitedResourceSched/data/1testS4.txt -text
examples/LimitedResourceSched/data/20testS2.txt -text
examples/LimitedResourceSched/data/20testS5.txt -text
examples/LimitedResourceSched/data/20testS6.txt -text
examples/LimitedResourceSched/data/30testS3.txt -text
examples/LimitedResourceSched/data/30testS4.txt -text
examples/LimitedResourceSched/data/30testS5.txt -text
examples/LimitedResourceSched/data/3testS0.txt -text
examples/LimitedResourceSched/data/3testS5.txt -text
examples/LimitedResourceSched/data/3testS5.xml -text
examples/LimitedResourceSched/data/3testS53.txt -text
examples/LimitedResourceSched/data/3testS53.xml -text
examples/LimitedResourceSched/data/4testS28.txt -text
examples/LimitedResourceSched/data/4testS28.xml -text
examples/LimitedResourceSched/data/4testS61.txt -text
examples/LimitedResourceSched/data/4testS61.xml -text
examples/LimitedResourceSched/data/5testS21.xml -text
examples/LimitedResourceSched/data/5testS62.xml -text
examples/LimitedResourceSched/data/5testS7.txt -text
examples/LimitedResourceSched/data/5testS7.xml -text
examples/LimitedResourceSched/data/6testS10.txt -text
examples/LimitedResourceSched/data/7testS47.txt -text
examples/LimitedResourceSched/data/7testS47.xml -text
examples/LimitedResourceSched/data/7testS5.txt -text
examples/LimitedResourceSched/data/7testS5.xml -text
examples/LimitedResourceSched/data/8testS53.txt -text
examples/LimitedResourceSched/data/8testS53.xml -text
examples/LimitedResourceSched/data/9testS20.xml -text
examples/LimitedResourceSched/data/9testS62.txt -text
examples/LimitedResourceSched/data/9testS62.xml -text
examples/LimitedResourceSched/data/mmjs_description.txt -text
examples/LimitedResourceSched/data/test.txt -text
examples/LimitedResourceSched/src/Makefile -text
examples/LimitedResourceSched/src/data.cpp -text
examples/LimitedResourceSched/src/data.h -text
examples/LimitedResourceSched/src/main.cpp -text
examples/LimitedResourceSched/vc12_project/LimitedResourceSched.vcxproj -text
examples/LimitedResourceSched/vc9_project/LimitedResourceSched.vcproj -text
examples/mipTest/src/Makefile -text
examples/mipTest/src/atsp.dat -text
examples/mipTest/src/bendersatsp.cpp -text
examples/mipTest/src/mipTest.cpp -text
examples/mipTest/src/stdafx.cpp -text
examples/mipTest/src/stdafx.h -text
examples/mipTest/src/targetver.h -text
examples/mipTest/vc12_project/mipTest.vcxproj -text
examples/mipTest/vc9_project/mipTest.vcproj -text
examples/speedtest/Makefile -text
examples/speedtest/qolTest.cpp -text
examples/speedtest/results.txt -text
vc12_project/QOL.vcxproj -text
vc12_project/QOL_solution.sln -text
vc12_project/QOLlib.props -text
vc9_project/QOL.vcproj -text
vc9_project/QOL_solution.sln -text
